<?xml version="1.0" encoding="UTF-8"?>

<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">
   
    
  <display-name>my_blog</display-name>
      <filter>  
10.    <filter-name>EncodingFilter</filter-name>  
11.    <filter-class>com.filter.EncodingFilter</filter-class>  
12.  </filter>  
13.  <filter-mapping>  
14.    <filter-name>EncodingFilter</filter-name>  
15.    <url-pattern>/*</url-pattern>  
16.  </filter-mapping>  
17.    
18.    
19.    
20.  <servlet>  
21.    <servlet-name>LoginServlet</servlet-name>  
22.    <servlet-class>com.servlet.LoginServlet</servlet-class>  
23.  </servlet><servlet>  
25.    <servlet-name>RegistServlet</servlet-name>  
26.    <servlet-class>com.servlet.RegistServlet</servlet-class>  
27.    
24.  </servlet>  
28.  <servlet>  
29.    <servlet-name>SearchAll</servlet-name>  
30.    <servlet-class>com.servlet.SearchAll</servlet-class>  
31.  </servlet>  
32.  <servlet>  
33.    <servlet-name>DeleteServlet</servlet-name>  
34.    <servlet-class>com.servlet.DeleteServlet</servlet-class>  
35.  </servlet>  
36.  <servlet>  
37.    <servlet-name>UpdateServlet</servlet-name>  
38.    <servlet-class>com.servlet.UpdateServlet</servlet-class>  
39.  </servlet>  
40.  
41.  
42.  
43.  <servlet-mapping>  
44.    <servlet-name>LoginServlet</servlet-name>  
45.    <url-pattern>/LoginServlet</url-pattern>  
46.  </servlet-mapping>  
47.  <servlet-mapping>  
48.    <servlet-name>RegistServlet</servlet-name>  
49.    <url-pattern>/RegistServlet</url-pattern>  
50.  </servlet-mapping>  
51.  <servlet-mapping>  
52.    <servlet-name>SearchAll</servlet-name>  
53.    <url-pattern>/SearchAll</url-pattern>  
54.  </servlet-mapping>  
55.  <servlet-mapping>  
56.    <servlet-name>DeleteServlet</servlet-name>  
57.    <url-pattern>/DeleteServlet</url-pattern>  
58.  </servlet-mapping>  
59.  <servlet-mapping>  
60.    <servlet-name>UpdateServlet</servlet-name>  
61.    <url-pattern>/UpdateServlet</url-pattern>  
62.  </servlet-mapping>  
63.    
64.    
65.    
66.  <welcome-file-list>  
67.    <welcome-file>login.jsp</welcome-file>  
68.  </welcome-file-list>  
69.</web-app>  



